@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <br />
                <br />
                <h1> Welcome to Team 16's Loughborough University Timetabling System</h1>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<h2>Select the area of your choice:</h2>

<ol class="round">
    <li class="one">
        <h5></h5>
        <a href="">@Html.ActionLink("Create Request", "CreateNew", new { controller = "Request", adhoc = 0 })</a>
    </li>

    <li class="two">
        <h5></h5>
        <a href="">@Html.ActionLink("View Requests","Index","Request")</a>
    </li>

    <li class="three">
        <h5></h5>
        <a href="">@Html.ActionLink("Create Request", "CreateNew", new { controller = "Request", adhoc = 1 })</a>
    </li>
</ol>
