@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <br />
                <br />
                <h1> Welcome to Team 16's Loughborough University Timetabling System</h1>
            </hgroup>
            <p>

            </p>
        </div>
    </section>
}
<h2>Select the area of your choice:</h2>

<ol class="round">
    <li class="one">
        <h5>Create a Request</h5>
        <a href=""></a>
    </li>

    <li class="two">
        <h5>View requests</h5>
        <a href=""></a>
    </li>

    <li class="three">
        <h5>AdHoc Request</h5>
        <a href=" "></a>
    </li>
</ol>
