.canister 
{
   width:400px;
   margin: 50px auto 0 auto;
   border:2px solid #330066;
   border-top-left-radius:15px;
   border-top-right-radius:15px;
}
.canistercontainer 
{
    padding:10px;
}
.errorcontainer 
{
    margin-top:20px;
}
.canistertitle h2, .canistertitle 
{
    margin:0;
    padding:5px 0 5px 0;
}
.canistertitle 
{
    text-align:center;
    border:2px solid #330066;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#330066;
    color:White;
   
}
.errormessage 
{
    font-size:20pt;
    color:red;   
}
label 
{
    font-size:12pt;   
}
a 
{
       pointer-events:none !important;
}
ul li 
{
    background-color:grey !important;
       
}
.navbar ul li:first-child, .navbar ul li:first-child:hover
{
    background-color:#330066 !important;
    cursor:default !important;
}
ul li:hover 
{
   
    cursor:not-allowed !important;
}
