/* DEFAULTS
----------------------------------------------------------*/
body   
{
    background: #b6b7bc;
    font-size: .80em;
    margin: 0px;
    padding: 0px;
    color: #696969;
}
.center 
{
    margin-left:auto;
    margin-right:auto;
    text-align:center;   
}
/* HEADINGS   
----------------------------------------------------------*/
h1 
{
    color:white;   
}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
/* Main Div */
.blue 
{
    background-color:Teal;   
}
.page
{
    width: 960px;
    background-color: #fff;
    margin: 10px auto 0px auto;
    border: 1px solid #496077;
    border-radius:5px;
}
/* .page title */
.header
{
    position: relative;
    top:0px;
    margin:0;
    padding: 10px 0px 0px 0px;
    width: 100%;
    height:60px;
    background-color:#330066;
    text-align:center;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
.header h1 
{
    margin:0;
    padding:0;   
}   
/* Where content WITHIN .page is loaded from other .aspx iles */
.main
{
    padding: 10px;
    margin: -2px 10px 8px 8px;
    min-height: 420px;
    width:942px;
    background-color:#fff;
    font-size:12pt;
}
.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}
/* NAV BAR
----------------------------------------------------------*/
/* Overall navbar container */

div.navbar
{
    width:960px;
    height:60px;
    background-color:#330066;
    border-radius:5px;
    margin:10px auto 0px auto;
    padding:0;
    text-align:center;
    color:white;
}
div.navbar ul 
{
    margin:0;
    padding:0;
    list-style-type:none;
    width:960px;
    text-align:center;
}
div.navbar ul li 
{
    display:inline;
    float:left;
    width:120px;
    text-align:center;
    height:60px;
    font-size:12pt;
    padding-top:17px;
    border-right:1px solid white;
    margin-top:-1px;
}
div.navbar ul li a 
{
    color:White;
    display:block;
   
}
div.navbar ul li a:hover 
{
    text-decoration:none;
}
/* First child = logo */
div.navbar ul li:first-child 
{
    padding-top:12.5px;
    padding-bottom:2.5px;
    padding-left:2.5px;
    padding-right:2.5px;
    width:240px;   
    border-right:none;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px; 
}
div.navbar ul li:first-child:hover 
{
   background-color:#330066;
   cursor:default;  
}
/* ************************************** */
/* Last child = Log out */
div.navbar ul li:last-child 
{
    border-right:none; 
    width:119px;  
}
div.navbar ul li:last-child:hover 
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;   
}
/* ************************************** */
/* First nav link */
div.navbar ul li:nth-child(2) 
{
    border-left:1px solid white;   
}
div.navbar ul li:nth-child(2):hover :
{
    margin-top:0px;
}
/* ************************************** */
div.navbar ul li:hover 
{
    cursor:pointer;   
    background-color:#6666CC;
    color:#fff;
}
.navlogo 
{
    width:235px;
    height:55px;
    margin:0;
    margin-top:-10px;
    padding:0;  
    border-top-left-radius:5px;
    border-bottom-left-radius:5px; 
}
/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}
.failureNotification
{
    font-size: 1.2em;
    color: Red;
}
/* FORM ELEMENTS   
----------------------------------------------------------*/
fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}
fieldset p 
{
    margin: 2px 12px 10px 10px;
}
fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}
fieldset label.inline 
{
    display: inline;
}
legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}
input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}
input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}
div.accountInfo
{
    width: 42%;
}